
header {
	height: 50px;
	min-height: 50px;
	background-color: #163a5e;
	min-width: 1250px;
	width: 100%;
	top: 0;
	right: 0;
	position: fixed;
}

.logo {
	color: white;
	font-size: 20px;
	padding-top: 14px;
}
